/* Shared style */
body {
  font-family: "Open Sans", sans-serif;
}

.color-primary {
  color: #fd6e0a;
}

.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: #fff;
  font-size: 20px;
  padding: 15px 35px;
}

/* nav related style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}
.header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png"), url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, top left;
}
.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 51px;
}
nav a {
  text-decoration: none;
  color: #474747;
}
/* banner related style */
.banner {
  padding: 30px 30px 0px 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .banner-profile-pic {
  width: 500px;
}
.banner-content {
  max-width: 570px;
}

.banner-greetings {
  color: #474747;
  font-size: 45px;
  margin-bottom: 0px;
}
.banner-title {
  color: #181818;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 85px;
  font-weight: 700;
}
/* main section  related style */

main {
  max-width: 1140px;
  margin: 0 auto;
}
.main section {
  margin-top: 130px;
}
.section-titile {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section-description {
  color: #757575;
  text-align: center;

  font-size: 18px;
  font-weight: 400;
}

/* about me related style */

.about {
  margin: 130px 0;
  padding: 130px;
  border-radius: 10px;
  background: #fff8f3;
}
.about-info-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
.about-info {
  text-align: center;
}
#what-i-do-description {
  padding: 30px 150px;
}
.skills-container {
  display: flex;
  gap: 24px;
}
.skill {
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-description {
  color: #757575;
  font-size: 16px;
}

/* resume related styling */

.resume-container {
  display: flex;
  gap: 71px;
  margin: 30px;
}
.resume-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}
.resume-item-title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
}
.resume-item-institute {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
}
.resume-item-description {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
}
.resume-button-container {
  margin-top: 50px;
  text-align: center;
}
/* footer style */
footer {
  display: flex;
  gap: 117px;
  background: #fff8f3;
  margin-top: 113px;
  padding: 130px 230px;
}
.footer-column {
  width: 50%;
  
}
.footer-description{
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: justify;
  width: 562px;

}
.social-media-links a{
  margin-right: 24px;
}

.contact input[type="text"], .contact input[type="email"],
textarea {
  display: block;
  margin-bottom: 25px;
  padding: 18px 35px;
  background: #FFF;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  border: 0;
  width: 100%;
}

@media screen and ( max-width: 576px){
  nav{
    /* margin: 0px 0px; */
    flex-direction: column;
    margin-left: 300px;
  }
  .header {
    width: 100%;
  }
  .banner{
    flex-direction: column;
    justify-content:center;
    text-align: right;
  }
  .banner-profile-pic{
    margin-right: 200px;
  }

  .btn-primary{
    margin-top: 10px;
  }
  .about-info-container{
    flex-direction: column;
  }
  .skills-container{
    flex-direction: column;
  }
  footer{
    flex-direction: column;
    padding: 0;
  }
}